<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../dist/output.css">
  <title>kosmodev - Template</title>
</head>

<body class="bg-neutral-950 text-neutral-200">
  <div class="container max-w-3xl mx-auto pt-4">
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold">
        KOSMODEV / Template
      </h1>
    </div>

    <div class="mb-8">
      <p class="text-lg">
        Template
      </p>
    </div>
  </div>
</body>

</html>